HML_POSTGRES_USER=fcx_hml
HML_POSTGRES_PASSWORD=replace_with_hml_postgres_password
HML_POSTGRES_DB=fcx_hml
HML_POSTGRES_PORT=55432
HML_REDIS_PORT=56379
HML_MQTT_PORT=51883
HML_EMQX_DASHBOARD_PORT=58083
HML_API_PORT=53000
HML_JWT_SECRET=replace_with_hml_jwt_secret_64_chars_min
HML_API_KEY=replace_with_hml_api_key
HML_INITIAL_ADMIN_PASSWORD=replace_with_hml_admin_password
